<%= link_to "Voltar", root_path, class: "botao-voltar" %>

<%# talvez colocar a div content aqui %>
<div>
    <h1>Bem-vindo ao Sistema de Localização para Novos Supermercados em Bauru!</h1>
    <p>
        Nosso objetivo é ajudar novos empreendimentos a encontrar o ponto ideal para atender ao público de Bauru com eficiência e conveniência. Este sistema foi desenvolvido para auxiliar na escolha de locais estratégicos para a abertura de uma nova loja de supermercado, voltada para atender consumidores com renda familiar per capita de pelo menos 2 salários mínimos.
    </p>
    <p>
        Através de uma análise detalhada e visualização em mapa, identificamos as áreas que melhor atendem aos critérios de acessibilidade, concorrência e presença de negócios complementares. Assim, ajudamos a maximizar as chances de sucesso do empreendimento.
    </p>
    <p>Após explorar o mapa, preencha o formulário abaixo para receber informações detalhadas sobre a localização ideal para o seu supermercado.</p>
</div>

<%= render 'layouts/relative_map'%>