<div class = "content">
    <h1>Seus resultados</h1>
    <p>
        O mapa foi configurado conforme as preferências do usuário, destacando apenas as regiões que atendem aos critérios de rendimento definidos. A visualização foca em setores de Bauru com imóveis em áreas de renda predominante superior a 2 salários mínimos, facilitando uma análise direcionada da distribuição de imóveis conforme o perfil de demanda.</p>
    </p>
    <p>
        Além disso, o mapa exibe a região urbana de Bauru, focando em setores onde o rendimento familiar é majoritariamente superior a 2 salários mínimos. Este filtro atende às escolhas do usuário, mostrando apenas áreas com maior poder aquisitivo para análise de imóveis.</p>
    </p>
    <%= link_to "Voltar", root_path, class: "botao-voltar" %>
</div>

<%= render 'layouts/relative_map'%>