<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_eaaff893b6bceb0517fb098838d3149b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    
                    <style>
                        .foliumtooltip {
                            
                        }
                       .foliumtooltip table{
                            margin: auto;
                        }
                        .foliumtooltip tr{
                            text-align: left;
                        }
                        .foliumtooltip th{
                            padding: 2px; padding-right: 8px;
                        }
                    </style>
            
    
                    <style>
                        .foliumpopup {
                            margin: auto;
                        }
                       .foliumpopup table{
                            margin: auto;
                        }
                        .foliumpopup tr{
                            text-align: left;
                        }
                        .foliumpopup th{
                            padding: 2px; padding-right: 8px;
                        }
                    </style>
            
</head>
<body>
    
    
            <div class="folium-map" id="map_eaaff893b6bceb0517fb098838d3149b" ></div>
        
</body>
<script>
    
    
            var map_eaaff893b6bceb0517fb098838d3149b = L.map(
                "map_eaaff893b6bceb0517fb098838d3149b",
                {
                    center: [-22.3192, -49.0709],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e8af3247e1b447f5b1ba696067d12778 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_e8af3247e1b447f5b1ba696067d12778.addTo(map_eaaff893b6bceb0517fb098838d3149b);
        
    
        function geo_json_fd7ca0ef65f964f1a8640062466fbd70_styler(feature) {
            switch(feature.id) {
                default:
                    return {"color": "black", "fillColor": "red", "fillOpacity": 0.5, "weight": 0.5};
            }
        }

        function geo_json_fd7ca0ef65f964f1a8640062466fbd70_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_fd7ca0ef65f964f1a8640062466fbd70 = L.geoJson(null, {
                onEachFeature: geo_json_fd7ca0ef65f964f1a8640062466fbd70_onEachFeature,
            
                style: geo_json_fd7ca0ef65f964f1a8640062466fbd70_styler,
        });

        function geo_json_fd7ca0ef65f964f1a8640062466fbd70_add (data) {
            geo_json_fd7ca0ef65f964f1a8640062466fbd70
                .addData(data);
        }
            geo_json_fd7ca0ef65f964f1a8640062466fbd70_add({"bbox": [-49.047826, -22.362281, -49.03325630082389, -22.337791], "features": [{"bbox": [-49.047826, -22.362281, -49.03325630082389, -22.337791], "geometry": {"coordinates": [[[-49.041022, -22.362281], [-49.04129, -22.361689], [-49.041354, -22.361432], [-49.041711, -22.360158], [-49.042428, -22.357931999999998], [-49.042868999999996, -22.356355999999998], [-49.043071999999995, -22.355591], [-49.043785, -22.353254], [-49.044035, -22.352394], [-49.044646, -22.350299], [-49.045212, -22.348392], [-49.045705, -22.346733999999998], [-49.0466414420137, -22.3435411609273], [-49.047214, -22.341589], [-49.04761, -22.340182], [-49.047826, -22.339522], [-49.047225, -22.339389], [-49.046126, -22.339064999999998], [-49.045362999999995, -22.33882], [-49.043223999999995, -22.338217], [-49.041703, -22.337791], [-49.0416942544822, -22.3378260843578], [-49.0416743095846, -22.337906097222], [-49.04165666675, -22.337976874909298], [-49.04163770012789, -22.338052963229398], [-49.0416199981264, -22.3381239782763], [-49.0415671370658, -22.3383360407769], [-49.041532, -22.338476999999997], [-49.041489, -22.33881], [-49.041446, -22.339143], [-49.041315999999995, -22.339557], [-49.041272, -22.339783999999998], [-49.041229, -22.340211], [-49.041098999999996, -22.340463999999997], [-49.041168, -22.340781], [-49.040603, -22.340726], [-49.039156, -22.340460999999998], [-49.039169, -22.340802], [-49.039272, -22.341154], [-49.03948, -22.341455999999997], [-49.039581999999996, -22.341838], [-49.039516, -22.342291], [-49.039474999999996, -22.342648999999998], [-49.039665, -22.343245], [-49.039992999999996, -22.34385], [-49.039730999999996, -22.343995], [-49.039291, -22.344253], [-49.038863, -22.34451], [-49.038408, -22.344922999999998], [-49.038107, -22.345302], [-49.037768, -22.345644], [-49.037481, -22.346023], [-49.037323, -22.346296], [-49.036967999999995, -22.346864999999998], [-49.036797, -22.347174], [-49.036547999999996, -22.347493], [-49.03639, -22.347766], [-49.03635, -22.347908999999998], [-49.037333, -22.349199], [-49.036947, -22.349335], [-49.036311999999995, -22.349524], [-49.034701, -22.349977], [-49.03405, -22.350223], [-49.034002, -22.350448999999998], [-49.034285999999994, -22.350879], [-49.034532999999996, -22.351267999999997], [-49.034651, -22.351678], [-49.034670999999996, -22.352019], [-49.034586, -22.352441], [-49.034397999999996, -22.352843], [-49.034127, -22.353194], [-49.033864, -22.353407], [-49.033449, -22.353619], [-49.03325630082389, -22.353661932977097], [-49.033626999999996, -22.354094], [-49.035365, -22.35603], [-49.036555, -22.357394], [-49.037932, -22.358949], [-49.038559, -22.359719], [-49.039231, -22.360407], [-49.040292, -22.361568], [-49.040459999999996, -22.361795], [-49.041022, -22.362281]], [[-49.041252, -22.350576], [-49.038765, -22.34983], [-49.038883, -22.349406], [-49.039018, -22.349005], [-49.039133, -22.348582999999998], [-49.039246999999996, -22.348157999999998], [-49.041765999999996, -22.348882], [-49.041881, -22.348551999999998], [-49.04229, -22.348646], [-49.041923999999995, -22.349805], [-49.041532, -22.349698999999998], [-49.041363, -22.350137], [-49.041252, -22.350576]]], "type": "Polygon"}, "id": "0", "properties": {"CD_GEOCODB": null, "CD_GEOCODD": "350600305", "CD_GEOCODI": "350600305000377", "CD_GEOCODM": "3506003", "CD_GEOCODS": "35060030500", "Cod_setor": "350600305000377", "Dominant_Group": "Mais de 5 a 10 SM", "ID": 69961.0, "ID1": 5075, "NM_BAIRRO": null, "NM_DISTRIT": "BAURU", "NM_MESO": "BAURU", "NM_MICRO": "BAURU", "NM_MUNICIP": "BAURU", "NM_SUBDIST": null, "Nearby_Markets": "Confian\u00e7a", "Nome_Mercado": "Confian\u00e7a", "Situacao_setor": 1.0, "TIPO": "URBANO", "Unnamed: 16": null, "V001": "0", "V002": "1799878", "V003": "1799878", "V004": "0", "V005": 1.0, "V006": 12.0, "V007": 24.0, "V008": 39.0, "V009": 26.0, "V010": 26.0, "V011": 36.0, "V012": 54.0, "V013": 14.0, "V014": 5.0, "bairro": "Vila Avia\u00e7\u00e3o B", "compra_ou_aluguel": "compra", "link": "https://www.zapimoveis.com.br/imovel/aluguel-galpao-deposito-armazem-com-cozinha-vila-aviacao-b-bauru-sp-7500m2-id-2749333528/", "valor": 190000}, "type": "Feature"}], "type": "FeatureCollection"});

        
    
    geo_json_fd7ca0ef65f964f1a8640062466fbd70.bindTooltip(
    function(layer){
    let div = L.DomUtil.create('div');
    
    let handleObject = feature=>typeof(feature)=='object' ? JSON.stringify(feature) : feature;
    let fields = ["Dominant_Group", "CD_GEOCODI", "Nearby_Markets", "valor", "bairro", "compra_ou_aluguel"];
    let aliases = ["Grupo Dominante: ", "C\u00f3digo da Regi\u00e3o: ", "Mercados Pr\u00f3ximos: ", "Valor do Im\u00f3vel: ", "Bairro: ", "Compra ou Aluguel: "];
    let table = '<table>' +
        String(
        fields.map(
        (v,i)=>
        `<tr>
            <th>${aliases[i].toLocaleString()}</th>
            
            <td>${handleObject(layer.feature.properties[v]).toLocaleString()}</td>
        </tr>`).join(''))
    +'</table>';
    div.innerHTML=table;
    
    return div
    }
    ,{"className": "foliumtooltip", "sticky": false});
                     
    
    geo_json_fd7ca0ef65f964f1a8640062466fbd70.bindPopup(
    function(layer){
    let div = L.DomUtil.create('div');
    
    let handleObject = feature=>typeof(feature)=='object' ? JSON.stringify(feature) : feature;
    let fields = ["link"];
    let aliases = ["Link para o im\u00f3vel: "];
    let table = '<table>' +
        String(
        fields.map(
        (v,i)=>
        `<tr>
            <td>${handleObject(layer.feature.properties[v]).toLocaleString()}</td>
        </tr>`).join(''))
    +'</table>';
    div.innerHTML=table;
    
    return div
    }
    ,{"className": "foliumpopup", "parseHtml": true, "template": "\n    \u003ca href=\"{link}\" target=\"_blank\"\u003eClique aqui para ver o im\u00f3vel\u003c/a\u003e\n"});
                     
    
            geo_json_fd7ca0ef65f964f1a8640062466fbd70.addTo(map_eaaff893b6bceb0517fb098838d3149b);
        
</script>
</html>